<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/home.css">
    <title>Home</title>
</head>
<body>    
    <!-- INFOS UTILISATEUR -->
    <!-- <p>Access Token : <%= accessToken %></p>
    <p>Refresh Token : <%= refreshToken %></p>
    <p>Code : <%= code %></p>
    <p>User ID : <%= userId%></p> -->

    <%- include('header') %>

    <section>
        <img id="avatar" src="<%= profile.images[1].url %>">
        <p><%= profile.display_name %></p>
    </section>

</body>
</html>