<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/home.css">
    <title>Home</title>
</head>
<body>    
    <!-- INFOS UTILISATEUR -->
    <!-- <p>Access Token : <%= accessToken %></p>
    <p>Refresh Token : <%= refreshToken %></p> -->

    <%- include('header') %>

    <section>
        <% if (profile.images[1]) { %>
            <img id="avatar" src="<%= profile.images[1].url %>">
        <% } else { %>
            <img id="avatar" src="https://i.pinimg.com/236x/b2/d1/c3/b2d1c389dfc8e701970cf161240fb961.jpg">
        <% } %>
        <p><%= profile.display_name %></p>
    </section>

</body>
</html>